body{
    background-color: #573824;
    background-image: url(./imagens/bg-image.png);
    background-size: cover;
}
img{
    border-radius: 16px;
}
main{
    box-sizing: border-box;
    background-color: #F0E8C2;
    width: 800px;
    padding: 24px;
    border-radius: 24px;
    margin: 48px auto;
}