:root{
    font-family: "Alice", serif;
    line-height: 150%;
    color: #573A37;
}
body{
    background-color: #573824;
    background-image: url(./imagens/bg-image.png);
    background-size: cover;
}
h1{
    line-height: 140%;
    font-size: 40px;
    color: #291B1A;
}
h2{
    font-size: 24px;
    color: #291B1A;
}
img{
    border-radius: 16px;
}
main{
    box-sizing: border-box;
    background-color: #F0E8C2;
    width: 800px;
    padding: 24px;
    border-radius: 24px;
    margin: 48px auto;
}