@charset "UTF-8";

:root{
    font-family: "Alice", Georgia,  serif;
    line-height: 150%;
    color: #573A37;
}
body{
    background-color: #573824;
    background-image: url(./imagens/bg-image.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
h1{
    line-height: 140%;
    font-size: 40px;
    color: #291B1A;
    margin-bottom: 4px;
}
h2{
    font-size: 24px;
    color: #291B1A;
    margin-bottom: 4px;
}
img{
    border-radius: 16px;
    max-width: 100%;
    height: auto;
    display: block;
}
main{
    box-sizing: border-box;
    background-color: #F0E8C2;
    width: 800px;
    padding: 24px;
    border-radius: 24px;
    margin: 48px auto;
}
section {
    margin-bottom: 24px;
}
#descricao p + p {
    margin-top: 12px;
}
 
ul{
    padding-left: 20px;
}
footer{
    text-align: center;
    color: #F0E8C2;
}
@media (max-width: 850px) {
    main {
    width: 90%;
    padding: 16px;
    }
    h1 {
    font-size: 28px;
    }
    h2 {
    font-size: 20px;
    }
}